.linha{
  display: flex;
  flex-direction: row;
}
.coluna, .col-titulo {
  width: 20%;
  margin: 1px;
  padding: 1px;
}
.col-titulo {
  text-align: center;
  font-weight: bold;
}
table, .tabela {
  width: 50%;
}
.col-md-80 {
  width: calc(80% + 21px);
  margin: 1px;
  padding: 1px;
}

td, th, .coluna, .col-titulo, .col-md-80 {
  border: 1px solid silver;
}