.board{
  position: relative;
  width: 600px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(blue, white);
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.40);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  gap: 10px;
  margin: 150px auto;
  width: 300px;
  height: 200px;
  background-color: white;
}
.btnReset{
  height: 30px;
  width: 100px;
  padding-top: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  border: 2px solid black;
  background: linear-gradient(rgb(242, 255, 0),rgb(255, 85, 0));
}
#pipe {
  position: absolute;
  width: 80px;
  bottom: 0;
  right: 0;
  animation: pipe-anime 2s infinite linear;
}
#mario {
  position: absolute;
  bottom: 0;
  height: 120px;
}
.jump {
  animation: mario-jump 1s;
}
#nuvem {
  position: absolute;
  top: 10px;
  right: 0;
  width: 280px;
  animation: nuvem-voando 10s infinite linear;
}
@keyframes nuvem-voando {
  from {
    right: -280px;
  }
  to {
    right: 100%;
  }
}
@keyframes pipe-anime {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes mario-jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 145px;
  }
  60% {
    bottom: 145px;
  }
  100% {
    bottom: 0;
  }
  
}
